.ProfileBox{
    color:inherit;
    position: absolute;
    top: 320px; /* Adjust this value to move the div vertically */
    left: 630px; /* Adjust this value to move the div horizontally */
    text-align: center;
    height: 135px;
    width: 22%;
}

